if SHIELD_keeb_LEFT || SHIELD_keeb_RIGHT

config ZMK_KEYBOARD_NAME
    default "keeb"

config ZMK_SPLIT
    default y

if SHIELD_keeb_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_keeb_LEFT

endif # SHIELD_keeb_LEFT || SHIELD_keeb_RIGHT
